<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.mapper.SysUserDepartmentsMapper">
  <resultMap id="BaseResultMap" type="com.ml.po.SysUserDepartments">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="IS_SELF" jdbcType="CHAR" property="isSelf" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, DEPT_ID, ROLE_ID, IS_SELF, DEL_FLAG, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_departments
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user_departments
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ml.po.SysUserDepartments">
    insert into sys_user_departments (ID, USER_ID, DEPT_ID, 
      ROLE_ID, IS_SELF, DEL_FLAG, 
      CREATE_DATE)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{deptId,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=INTEGER}, #{isSelf,jdbcType=CHAR}, #{delFlag,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ml.po.SysUserDepartments">
    insert into sys_user_departments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="isSelf != null">
        IS_SELF,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="isSelf != null">
        #{isSelf,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ml.po.SysUserDepartments">
    update sys_user_departments
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="isSelf != null">
        IS_SELF = #{isSelf,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ml.po.SysUserDepartments">
    update sys_user_departments
    set USER_ID = #{userId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=INTEGER},
      IS_SELF = #{isSelf,jdbcType=CHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>