<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.ml.po.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_ACCOUNT" jdbcType="VARCHAR" property="loginAccount" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
    <result column="REGION_ID" jdbcType="VARCHAR" property="regionId" />
    <result column="REGION_NAME" jdbcType="VARCHAR" property="regionName" />
    <result column="EXT_PRO" jdbcType="VARCHAR" property="extPro" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="HEAD" jdbcType="VARCHAR" property="head" />
    <result column="LINK_OUT_DATE" jdbcType="BIGINT" property="linkOutDate" />
    <result column="POST_TYPE" jdbcType="CHAR" property="postType" />
    <result column="CODE_FILE_NAME" jdbcType="VARCHAR" property="codeFileName" />
    <result column="good_domain" jdbcType="VARCHAR" property="goodDomain" />
    <result column="JOB_NUMBER" jdbcType="VARCHAR" property="jobNumber" />
    <result column="INSURANCE_COMPANY" jdbcType="VARCHAR" property="insuranceCompany" />
    <result column="IS_LOCK" jdbcType="VARCHAR" property="isLock" />
    <result column="PERSON_TYPE" jdbcType="VARCHAR" property="personType" />
    <result column="accept" jdbcType="CHAR" property="accept" />
    <result column="isManager" jdbcType="CHAR" property="ismanager" />
    <result column="IS_TEST" jdbcType="CHAR" property="isTest" />
    <result column="is_receive_sms" jdbcType="CHAR" property="isReceiveSms" />
    <result column="IS_SELF" jdbcType="VARCHAR" property="isSelf" />
    <result column="BIG_ADJUST_USER_ID" jdbcType="VARCHAR" property="bigAdjustUserId" />
    <result column="case_pool_distributor" jdbcType="CHAR" property="casePoolDistributor" />
    <result column="THIRD_PARTY_USER" jdbcType="VARCHAR" property="thirdPartyUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, LOGIN_ACCOUNT, PASSWORD, NAME, SALT, MOBILE, EMAIL, USER_TYPE, CERTIFICATE_NUMBER,
    CERTIFICATE_TYPE, REGION_ID, REGION_NAME, EXT_PRO, DEL_FLAG, CREATE_DATE, HEAD, LINK_OUT_DATE,
    POST_TYPE, CODE_FILE_NAME, good_domain, JOB_NUMBER, INSURANCE_COMPANY, IS_LOCK, PERSON_TYPE,
    accept, isManager, IS_TEST, is_receive_sms, IS_SELF, BIG_ADJUST_USER_ID, case_pool_distributor,
    THIRD_PARTY_USER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findUserByLoginAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from sys_user
    where LOGIN_ACCOUNT = #{loginAccount,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ml.po.SysUser">
    insert into sys_user (id, LOGIN_ACCOUNT, PASSWORD,
      NAME, SALT, MOBILE,
      EMAIL, USER_TYPE, CERTIFICATE_NUMBER,
      CERTIFICATE_TYPE, REGION_ID, REGION_NAME,
      EXT_PRO, DEL_FLAG, CREATE_DATE,
      HEAD, LINK_OUT_DATE, POST_TYPE,
      CODE_FILE_NAME, good_domain, JOB_NUMBER,
      INSURANCE_COMPANY, IS_LOCK, PERSON_TYPE,
      accept, isManager, IS_TEST, is_receive_sms,
      IS_SELF, BIG_ADJUST_USER_ID, case_pool_distributor,
      THIRD_PARTY_USER)
    values (#{id,jdbcType=INTEGER}, #{loginAccount,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{certificateNumber,jdbcType=VARCHAR},
      #{certificateType,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR},
      #{extPro,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{head,jdbcType=VARCHAR}, #{linkOutDate,jdbcType=BIGINT}, #{postType,jdbcType=CHAR},
      #{codeFileName,jdbcType=VARCHAR}, #{goodDomain,jdbcType=VARCHAR}, #{jobNumber,jdbcType=VARCHAR},
      #{insuranceCompany,jdbcType=VARCHAR}, #{isLock,jdbcType=VARCHAR}, #{personType,jdbcType=VARCHAR},
      #{accept,jdbcType=CHAR}, #{ismanager,jdbcType=CHAR}, #{isTest,jdbcType=CHAR}, #{isReceiveSms,jdbcType=CHAR},
      #{isSelf,jdbcType=VARCHAR}, #{bigAdjustUserId,jdbcType=VARCHAR}, #{casePoolDistributor,jdbcType=CHAR},
      #{thirdPartyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ml.po.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginAccount != null">
        LOGIN_ACCOUNT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="certificateNumber != null">
        CERTIFICATE_NUMBER,
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE,
      </if>
      <if test="regionId != null">
        REGION_ID,
      </if>
      <if test="regionName != null">
        REGION_NAME,
      </if>
      <if test="extPro != null">
        EXT_PRO,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="head != null">
        HEAD,
      </if>
      <if test="linkOutDate != null">
        LINK_OUT_DATE,
      </if>
      <if test="postType != null">
        POST_TYPE,
      </if>
      <if test="codeFileName != null">
        CODE_FILE_NAME,
      </if>
      <if test="goodDomain != null">
        good_domain,
      </if>
      <if test="jobNumber != null">
        JOB_NUMBER,
      </if>
      <if test="insuranceCompany != null">
        INSURANCE_COMPANY,
      </if>
      <if test="isLock != null">
        IS_LOCK,
      </if>
      <if test="personType != null">
        PERSON_TYPE,
      </if>
      <if test="accept != null">
        accept,
      </if>
      <if test="ismanager != null">
        isManager,
      </if>
      <if test="isTest != null">
        IS_TEST,
      </if>
      <if test="isReceiveSms != null">
        is_receive_sms,
      </if>
      <if test="isSelf != null">
        IS_SELF,
      </if>
      <if test="bigAdjustUserId != null">
        BIG_ADJUST_USER_ID,
      </if>
      <if test="casePoolDistributor != null">
        case_pool_distributor,
      </if>
      <if test="thirdPartyUser != null">
        THIRD_PARTY_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginAccount != null">
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="extPro != null">
        #{extPro,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="linkOutDate != null">
        #{linkOutDate,jdbcType=BIGINT},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=CHAR},
      </if>
      <if test="codeFileName != null">
        #{codeFileName,jdbcType=VARCHAR},
      </if>
      <if test="goodDomain != null">
        #{goodDomain,jdbcType=VARCHAR},
      </if>
      <if test="jobNumber != null">
        #{jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompany != null">
        #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null">
        #{isLock,jdbcType=VARCHAR},
      </if>
      <if test="personType != null">
        #{personType,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        #{accept,jdbcType=CHAR},
      </if>
      <if test="ismanager != null">
        #{ismanager,jdbcType=CHAR},
      </if>
      <if test="isTest != null">
        #{isTest,jdbcType=CHAR},
      </if>
      <if test="isReceiveSms != null">
        #{isReceiveSms,jdbcType=CHAR},
      </if>
      <if test="isSelf != null">
        #{isSelf,jdbcType=VARCHAR},
      </if>
      <if test="bigAdjustUserId != null">
        #{bigAdjustUserId,jdbcType=VARCHAR},
      </if>
      <if test="casePoolDistributor != null">
        #{casePoolDistributor,jdbcType=CHAR},
      </if>
      <if test="thirdPartyUser != null">
        #{thirdPartyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ml.po.SysUser">
    update sys_user
    <set>
      <if test="loginAccount != null">
        LOGIN_ACCOUNT = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        CERTIFICATE_NUMBER = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        REGION_ID = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="extPro != null">
        EXT_PRO = #{extPro,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="head != null">
        HEAD = #{head,jdbcType=VARCHAR},
      </if>
      <if test="linkOutDate != null">
        LINK_OUT_DATE = #{linkOutDate,jdbcType=BIGINT},
      </if>
      <if test="postType != null">
        POST_TYPE = #{postType,jdbcType=CHAR},
      </if>
      <if test="codeFileName != null">
        CODE_FILE_NAME = #{codeFileName,jdbcType=VARCHAR},
      </if>
      <if test="goodDomain != null">
        good_domain = #{goodDomain,jdbcType=VARCHAR},
      </if>
      <if test="jobNumber != null">
        JOB_NUMBER = #{jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompany != null">
        INSURANCE_COMPANY = #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null">
        IS_LOCK = #{isLock,jdbcType=VARCHAR},
      </if>
      <if test="personType != null">
        PERSON_TYPE = #{personType,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        accept = #{accept,jdbcType=CHAR},
      </if>
      <if test="ismanager != null">
        isManager = #{ismanager,jdbcType=CHAR},
      </if>
      <if test="isTest != null">
        IS_TEST = #{isTest,jdbcType=CHAR},
      </if>
      <if test="isReceiveSms != null">
        is_receive_sms = #{isReceiveSms,jdbcType=CHAR},
      </if>
      <if test="isSelf != null">
        IS_SELF = #{isSelf,jdbcType=VARCHAR},
      </if>
      <if test="bigAdjustUserId != null">
        BIG_ADJUST_USER_ID = #{bigAdjustUserId,jdbcType=VARCHAR},
      </if>
      <if test="casePoolDistributor != null">
        case_pool_distributor = #{casePoolDistributor,jdbcType=CHAR},
      </if>
      <if test="thirdPartyUser != null">
        THIRD_PARTY_USER = #{thirdPartyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ml.po.SysUser">
    update sys_user
    set LOGIN_ACCOUNT = #{loginAccount,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      CERTIFICATE_NUMBER = #{certificateNumber,jdbcType=VARCHAR},
      CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
      REGION_ID = #{regionId,jdbcType=VARCHAR},
      REGION_NAME = #{regionName,jdbcType=VARCHAR},
      EXT_PRO = #{extPro,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      HEAD = #{head,jdbcType=VARCHAR},
      LINK_OUT_DATE = #{linkOutDate,jdbcType=BIGINT},
      POST_TYPE = #{postType,jdbcType=CHAR},
      CODE_FILE_NAME = #{codeFileName,jdbcType=VARCHAR},
      good_domain = #{goodDomain,jdbcType=VARCHAR},
      JOB_NUMBER = #{jobNumber,jdbcType=VARCHAR},
      INSURANCE_COMPANY = #{insuranceCompany,jdbcType=VARCHAR},
      IS_LOCK = #{isLock,jdbcType=VARCHAR},
      PERSON_TYPE = #{personType,jdbcType=VARCHAR},
      accept = #{accept,jdbcType=CHAR},
      isManager = #{ismanager,jdbcType=CHAR},
      IS_TEST = #{isTest,jdbcType=CHAR},
      is_receive_sms = #{isReceiveSms,jdbcType=CHAR},
      IS_SELF = #{isSelf,jdbcType=VARCHAR},
      BIG_ADJUST_USER_ID = #{bigAdjustUserId,jdbcType=VARCHAR},
      case_pool_distributor = #{casePoolDistributor,jdbcType=CHAR},
      THIRD_PARTY_USER = #{thirdPartyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>